<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/terrahacksproject/environment/environmentapp/static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Not Eco Friendly? | Start Now</title>
</head>
<body>

    
    
    <!-- Navbar -->
    <div class="cover">
        <video class="background-video" autoplay loop muted plays-inline>
            <source src="hackathon video.mp4"video/mp4">
        </video>
        <section class="navbar-container">
            <nav>
                <div class="nav-left">
                    <a href="">Home</a>
                </div>
                <div class="nav-right">
                    <a href="">About</a>
                    <a href="">Log out</a>
                    <a href="">Log in</a>
                    <a href="">Sign in</a>
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </nav>
         </section>
    </div>

     <!-- Hero -->
      <section class="hero">
        <div class="hero-container">
            <div class="hero-card">
                <h1>Survey</h1>
                <p>Take a survey to see how eco friendly you currently are, and discover new personalized ways to improve</p>
                <button class="btn">Take me</button>
            </div>
            <div class="hero-card">
                <h1>Leaderboard</h1>
                <p>See where you rank amongst other individuals like yourself, can you compete to be the most eco friendly citizen?</p>
                <button class="btn">Take me</button>
            </div>
            <div class="hero-card">
                <h1>About</h1>
                <p>Learn more about us, our values, and our mission. We follow a strict rule set for the lowest environmental impact</p>
                <button class="btn">Take me</button>
            </div>
        </div>
      </section>

      <!-- Footer -->
       <!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <h1>Become Eco Friendly Today!</h1>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Environmentally. All rights reserved.</p>
    </div>
</footer>


</body>
</html>
