<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Not Eco Friendly? | Start Now</title>
</head>
<body>
    
    <!-- Navbar -->
     <section class="navbar-container">
        <nav>
            <div class="nav-left">
                <a href="">Home</a>
            </div>
            <div class="nav-right">
                <a href="">About</a>
                <a href="">Services</a>
                <a href="">Contact</a>
            </div>
        </nav>
     </section>

</body>
</html>