<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Leaderboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'leaderboard.css' %}">
</head>
<body>

    <!-- Navbar -->
    <div class="cover">
        <section class="navbar-container">
            <nav>
                <div class="nav-left">
                    <a href="{% url 'home' %}">Home</a>
                </div>
                <div class="nav-right">
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'logout' %}">Log out</a>
                    <a href="{% url 'login' %}">Log in</a>
                    <a href="{% url 'signup' %}">Sign in</a>
                    <a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i></a>
                </div>
            </nav>
         </section>
    </div>

    <div class="text-container">
        <h1>Become the best ranked amongst other individuals like yourself</h1>
        <h2>Be the BEST you!</h2>
    </div>

    <div class="leaderboard-container">
        <h1>Leaderboard</h1>
        <table class="leaderboard">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in profiles %}
                <tr>
                    <td>{{profile.user.username}}</td>
                    <td>{{profile.score}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
