@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #ade8f4;
    --darkest-color: #03045e;
    --dark-color: #023e8a;
    --button-background: #0096c7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: var(--background-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.cover {
    width: 100%;
    height: 710px;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navbar-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid #333;
}

nav a {
    color: var(--darkest-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
    background-color: var(--button-background);
    padding: 7px 11px;
    border-radius: 15px;
}

nav a:hover {
    color: var(--background-color);
    background-color: var(--darkest-color);
    padding: 8px 12px;
}

.navbar-container {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.navbar-container nav .nav-left {
    display: flex;
    align-items: center;
}

.navbar-container nav .nav-right {
    display: flex;
    justify-content: flex;
}

.navbar-container nav .nav-right a {
    margin-left: 30px;
}

.hero {
    background: var(--button-background);
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.hero-card {
    width: 100%;
    text-align: center;
    margin: 30px 10px 30px 10px;
}

/* Utilities */
.btn {
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 7px 11px;
    font-size: 16px;
    background-color: black;
    color: white;
}

.hero-card .btn, .btn-reverse {
    margin: 20px 10px 0 0;
}

.btn-reverse {
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px 11px;
    font-size: 16px;
    background-color: white;
    color: black;
}

/* Footer Styles */
.footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    color: #333;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}
